<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="googlechrome"/>
      <package id="winrar"/>
      <package id="firefox"/>
      <package id="vlc"/>
      <package id="sublimetext3"/>
      <package id="putty"/>
      <package id="nodejs"/>
      <package id="winscp"/>
      <package id="phpstorm"/>
      <package id="drawio"/>
      <package id="postman"/>
      <package id="sharex"/>
      <package id="smartty"/>
      <package id="winmerge"/>
      <package id="avastfreeantivirus"/>
      <package id="phpstorm"/>
      <package id="git"/>
      <package id="gitkraken"/>
      <package id="filezilla"/>
      <package id="microsoft-edge"/>
    </packages>
