<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="googlechrome"/>
      <package id="winrar"/>
      <package id="firefox"/>
      <package id="vlc"/>
      <package id="sublimetext4"/>
      <package id="putty"/>
      <package id="winscp"/>
      <package id="phpstorm" version="2021.2"/>
      <package id="drawio"/>
      <package id="microsoft-windows-terminal"/>
      <package id="postman"/>
      <package id="sharex"/>
      <package id="smartty"/>
      <package id="winmerge"/>
      <package id="git"/>
      <package id="filezilla"/>
      <package id="microsoft-edge"/>
    </packages>
